<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="container">
        <div class="row" style="background-color: black;">
            <div class="col-lg-8">
            <h4 style="color: white;">Bookers</h4>
            </div>
            <div class="col-lg-4">

            <ol class="breadcrumb"  style="background-color: black;">

            <% if user_signed_in? %>
             <li><span class="glyphicon glyphicon-home" aria-hidden="true"><%= link_to "Home", user_path(current_user) %></span></li>
             <li><span class="glyphicon glyphicon-user" aria-hidden="true"><%= link_to "Users", users_path %></span></li>
             <li><span class="glyphicon glyphicon-book" aria-hidden="true"><%= link_to "Books", books_path %></span></li>
             <li><span class="glyphicon glyphicon-log-out" aria-hidden="true"><%= link_to "logout", destroy_user_session_path, method: :delete %></span></li>
            <% else %>
             <li><span class="glyphicon glyphicon-home" aria-hidden="true"><%= link_to "Home", root_path %></span></li>
             <li><span class="glyphicon glyphicon-link" aria-hidden="true"><%= link_to "About", home_about_path %></span></li>
             <li><span class="glyphicon glyphicon-edit" aria-hidden="true"><%= link_to "sign up", new_user_registration_path %></span></li>
             <li><span class="glyphicon glyphicon-log-in" aria-hidden="true"><%= link_to "login", new_user_session_path %></span></li>
            <% end %>

            </ol>

            </div>
        </div>

      <div class="row">
        <div class="col-lg-8">
          <p id="notice"><%=  notice %></p>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    
    <%= yield %>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
            <footer>
            <p>Copy Right Infratop.inc</p>
            </footer>
            </div>
        </div>
    </div>
  </body>
</html>

